.feed{
    flex:0.4;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
}
.feed_header{
    position: sticky;
    top: 0;
    background-color: white;
    /* no matter what stick to the top z-index means */
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;

}
.feed_header>h2{
    font-size: 20px;
    font-weight: 800;
}
/* to hide the scroll bar ..bt not its function */
/* this is for chrome ,safari,opera */
.feed::-webkit-scrollbar{
    display: none;

}
/* this is for firfox and IE & Edge */
.feed{
    -ms-overflow-style: none;
    scrollbar-width: none;
}