.widget{
    flex:0.3;
    
}
.widget_input{
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
}
.widget_input>input{
    border: none;
    background-color: var(--twitter-background);
}
.widget_search{
    color: gray !important;
}
.widget_widgetcontainer{
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
}
.widget_widgetcontainer>h2{
    font-size: 18px;
    font-weight: 800;
}
